@charset "UTF-8";

/* header 로고 */
.logo {
    opacity: 0;
}

/* ============================== main ==============================*/

main {
    width: 100%;
    height: auto;
}

.m_m_logo_container{
    width: 100%;
    height: 100px;
    position: relative;
    top: 95px;
    background-color: var(--main-color-beige);
}

.m_m_logo_container .headerLogo {
    filter: var(--logo-drop-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

/* 로고 밑 장식 */
.m_m_main_design {
    position: relative;
    top: 90px;
    z-index: 10;
}

.m_m_main_design img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 배너 */
.m_m_banner_container {
    position: relative;
    top: 70px;
    width: 100%;
}

.m_m_bannerImg_container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}
.bannerImg {
    width: 100%;
}
.m_m_bannerImg_container img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
}

/* 팝업 아이콘 */
.m_m_popupIcon {
    position: absolute;
}
.pI1 {
    top: 30px;
    left: 30px;
}
.pI1 img {
    width: 50px;
    height: auto;
}
.pI2 {
    right: 30px;
    top: 15px;
}
.pI2 img {
    width: 50px;
    height: auto;   
}
.pI3 {
    bottom: 0;
    left: 250px;
}
.pI3 img {
    width: 50px;
    height: auto;
}

/* 폴더모양 카테고리 */
.m_m_folderIcon_container {
    margin-top: 80px;
}

.folderImg {
    display: flex;
    justify-content: space-between;
    padding: 25px 55px;
    /* 호버 시 이미지 변경을 위한 트랜잭션 */
    transition: all 0.3s ease-in-out;
}

/* ================================================== */
/* 호버 시 이미지 변경 */
.atherFolder img:hover {
    content: url('../images/main/allFolder.svg'); /* atherFolder 호버 시 변경할 이미지 경로 */
}
/* ================================================== */

.folderImg p {
    justify-content: space -evenly;
    padding: 5px 7px;
    font-family: var(--point-font-en-ko);
}

.m_m_product_container {
    padding: 0px 20px 25px;
}

.m_m_product_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.m_m_product_list_container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    gap: 30px 12px;
}

.m_m_product_list img, .m_m_product_text {
    width: 100%;
}

.m_m_product_list img:hover {
    filter: brightness(30%) contrast(100%) sepia(20%);
}

.m_m_product_text {
    padding-top: 13px;
}

.p_m_product_text>p,
.p_m_product_text>h6,
.p_m_product_text>h4,
.p_m_product_text>h2
{
    padding: 5px 0px 10px;
}


.m_m_product_text h6 {
    font-family: var(--point-font-en-ko);
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 20px;
}

.m_m_product_text h2 {
    font-family: var(--base-font-en-ko-300);
    font-size: 13px;
    color: #999;
    text-decoration: line-through;
}

.sale_price {
    display: flex;
    gap: 10px;
}
   
.m_m_product_text h4 {
    font-family: var(--base-font-en-ko-500);
    font-size: 15px;
    color: var(--main-color-red);
}

.m_m_product_text p {
    font-family: var(--base-font-en-ko-500);
    font-size: 17px;
}

.soldOut {
    color: var(--main-color-red);
}

.p_m_container {
    display: none;
}
.p-sidePopup {
    display: none;
}